################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Plex.NaturalStringOrdering/bin
/Plex.NaturalStringOrdering/obj
